@model TemplateEmailViewModel


<div class="page-wrapper height width" id="grid-Email">
    <div class="page-breadcrumb">
    <div class="row">
            <div class="col-5 align-self-center padding-25">
            <h4 class="page-title">Email Manager</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Dashboard")">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Email")">Email manager</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="box">
        
        <div class="box-body">
                        <table class="table table-hover table-striped">
                   <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>@Model.Subject</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
    <div class="box-header">
        <a href="@Url.Action("Index","Email")" class="btn btn-warning btn-flat pull-right mr-lg-3" title="Back"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>
    </div><br />
</div>