@model TaxsViewModels

<div class="page-wrapper width">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 padding-25">
                <h4 class="page-title">Tax Manager</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a href="@Url.Action("Index","dashboard")">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Taxs")">Tax Manager</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="container-fluid">
    <section class="content">
        <div class="box">
            <div class="box-header">
            </div><br />
            <div class="box-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th scope="row">Title</th>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <th scope="row">Category</th>
                        <td>@Model.ParentName</td>
                    </tr>
                    <tr class="@(string.IsNullOrEmpty(Model.SubCategoryName) ? "hidden" :"")">
                        <th scope="row">Sub Category</th>
                        <td>@Model.SubCategoryName</td>
                    </tr>
                    <tr>
                        <th scope="row">Value in %</th>
                        <td>@Model.Value</td>
                    </tr>

                    <tr>
                        <th scope="row">Created</th>
                        <td>@Model.CreatedAt</td>
                    </tr>
                    <!-- New Featured row  -->

                    <tr>
                        <th scope="row">Status</th>
                        @{
                            @if (Model.Status == true)
                            {
                                        <td>Active</td>
                            }
                            else
                            {
                                        <td>InActive</td>
                            }
                        }
                    </tr>

                </table>

            </div>
            <div class="box-footer">
                <a href="@Url.Action("Index","Taxs")" class="btn btn-warning btn-flat pull-right mr-lg-3" title="Back"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>
            </div>
        </div>
    </section>
</div>